KIOSC_SERVER_VERSION=dev-0
KIOSC_NETWORK_MODE=docker-shared
KIOSC_DOCKER_NETWORK=kiosc-net
KIOSC_DOCKER_WEB_SERVER=kiosc-web
KIOSC_DOCKER_ACTION_MIN_DELAY=1

DJANGO_ALLOWED_HOSTS="*"
# Secret key used for HTTP sessions.  CHANGE FOR PRODUCTION.
DJANGO_SECRET_KEY=CHANGEMEchangemeCHANGEMEchangemeCHANGEMEchangemeCH
DJANGO_SETTINGS_MODULE="config.settings.local"

PROJECTROLES_SITE_MODE=TARGET


#
# Postgres credentials.
#
# Can remain as they are for docker based deployments.
#
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
