# Docker Compose configuration -----------------------------------------------

NETWORK_BRIDGE_NAME=br-kiosc-public

# Image versions -------------------------------------------------------------

KIOSC_SERVER_VERSION=v0.6.1-0
REDIS_VERSION=8
TRAEFIK_VERSION=v3

# Kiosc configuration --------------------------------------------------------

KIOSC_DATABASE_URL="postgresql://kiosc:kiosc@postgres/kiosc"
KIOSC_REDIS_URL="redis://redis:6379"
KIOSC_DJANGO_ALLOWED_HOSTS="*"
KIOSC_DJANGO_SECRET_KEY=CHANGEMEchangemeCHANGEMEchangemeCHANGEMEchangemeCH
KIOSC_DJANGO_SETTINGS_MODULE="config.settings.production"

KIOSC_DOCKER_ACTION_MIN_DELAY=1
KIOSC_DOCKER_MAX_INACTIVITY=5
KIOSC_DOCKER_NETWORK=kiosc-net
KIOSC_EMBEDDED_FILES=1
KIOSC_NETWORK_MODE=docker-shared

KIOSC_CELERY_BROKER_URL="redis://redis:6379/0"
KIOSC_UVICORN_WORKERS=16

# Kiosc LDAP auth ------------------------------------------------------------

KIOSC_ENABLE_LDAP=0
KIOSC_LDAP_DEBUG=0
KIOSC_AUTH_LDAP_SERVER_URI=
KIOSC_AUTH_LDAP_BIND_PASSWORD=
KIOSC_AUTH_LDAP_BIND_DN=
KIOSC_AUTH_LDAP_USER_SEARCH_BASE=
KIOSC_AUTH_LDAP_USERNAME_DOMAIN=
KIOSC_AUTH_LDAP_DOMAIN_PRINTABLE=
KIOSC_AUTH_LDAP_START_TLS=
KIOSC_AUTH_LDAP_CA_CERT_FILE=
KIOSC_AUTH_LDAP_USER_FILTER=
KIOSC_ENABLE_LDAP_SECONDARY=0
KIOSC_AUTH_LDAP2_SERVER_URI=
KIOSC_AUTH_LDAP2_BIND_PASSWORD=
KIOSC_AUTH_LDAP2_BIND_DN=
KIOSC_AUTH_LDAP2_USER_SEARCH_BASE=
KIOSC_AUTH_LDAP2_USERNAME_DOMAIN=
KIOSC_AUTH_LDAP2_DOMAIN_PRINTABLE=
KIOSC_AUTH_LDAP2_START_TLS=
KIOSC_AUTH_LDAP2_CA_CERT_FILE=
KIOSC_AUTH_LDAP2_USER_FILTER=
KIOSC_LDAP_ALT_DOMAINS=

# Kiosc OIDC auth ------------------------------------------------------------

KIOSC_ENABLE_OIDC=0
KIOSC_SOCIAL_AUTH_OIDC_OIDC_ENDPOINT=
KIOSC_SOCIAL_AUTH_OIDC_KEY=
KIOSC_SOCIAL_AUTH_OIDC_SECRET=
KIOSC_SOCIAL_AUTH_OIDC_USERNAME_KEY=username

# Django-Axes configuration --------------------------------------------------

KIOSC_AXES_ENABLED=0
KIOSC_AXES_COOLOFF_TIME=
KIOSC_AXES_DISABLE_CLIENT_IP_STORAGE=1
KIOSC_AXES_FAILURE_LIMIT=5
KIOSC_AXES_LOCK_OUT_AT_FAILURE=0
KIOSC_AXES_LOCKOUT_PARAMETERS=username
KIOSC_AXES_ONLY_ADMIN_SITE=0

# Email settings -------------------------------------------------------------

KIOSC_ADMINALERTS_EMAIL_SENDING_DEFAULT=1
KIOSC_PROJECTROLES_EMAIL_SENDER_REPLY=0
KIOSC_PROJECTROLES_SEND_EMAIL=0
KIOSC_SODAR_EMAIL_SENDER=
KIOSC_SODAR_EMAIL_SUBJECT_PREFIX=
KIOSC_SODAR_EMAIL_URL=

# Kiosc site settings --------------------------------------------------------

KIOSC_SITE_TITLE="KIOSC"
KIOSC_SITE_SUBTITLE="Beta"
KIOSC_SITE_INSTANCE_TITLE="Acme Kiosc"
KIOSC_ADMINS="First Admin:admin@example.com,Second Admin:admin2@example.com"

# Kiosc logging settings -----------------------------------------------------

KIOSC_LOGGING_LEVEL=ERROR
KIOSC_LOGGING_FILE_PATH=

# Kiosc custom registry settings ---------------------------------------------

KIOSC_CUSTOM_REGISTRY_HTTP_URL="http://kiosc-registry:5000"
KIOSC_CUSTOM_REGISTRY_DOCKER_URL="127.0.0.1:5000"
KIOSC_CUSTOM_REGISTRY_NOTIFICATIONS_URL="http://kiosc-web:8000/registry"
KIOSC_CUSTOM_REGISTRY_NOTIFICATIONS_TOKEN="PleaseChangeMeToo"
KIOSC_CUSTOM_REGISTRY_HTTP_SECRET="ChangeMeAsWell"
KIOSC_DATA_UPLOAD_MAX_MEMORY_SIZE="21474836480"

# Kiosc REST API settings ----------------------------------------------------

KIOSC_PROJECTROLES_API_USER_DETAIL_RESTRICT=0
KIOSC_TOKENS_CREATE_PROJECT_USER_RESTRICT=0

# Other Kiosc SODAR Core settings --------------------------------------------

KIOSC_PROJECTROLES_ALLOW_ANONYMOUS=0
KIOSC_PROJECTROLES_ALLOW_LOCAL_USERS=1
KIOSC_PROJECTROLES_CUSTOM_CSS_INCLUDES=
KIOSC_PROJECTROLES_CUSTOM_JS_INCLUDES=
KIOSC_PROJECTROLES_DEFAULT_ADMIN=admin
KIOSC_PROJECTROLES_DELEGATE_LIMIT=1
KIOSC_PROJECTROLES_DISABLE_CDN_INCLUDES=0
KIOSC_PROJECTROLES_INLINE_HEAD_INCLUDE=
KIOSC_PROJECTROLES_READ_ONLY_MSG="This site is currently in read-only mode. Modifying data is not permitted."
KIOSC_PROJECTROLES_SITE_MODE=SOURCE
KIOSC_PROJECTROLES_SUPPORT_CONTACT=
KIOSC_PROJECTROLES_TARGET_CREATE=1
KIOSC_PROJECTROLES_TARGET_SYNC_ENABLE=1
KIOSC_PROJECTROLES_TARGET_SYNC_INTERVAL=5
